@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('./assets/nepal2.png'),url('./assets/nepal3.png'); /* Replace with the path to your background image */
    background-repeat: repeat; /* This will repeat the image */
    background-size: cover; /* Adjust the image to cover the container */
    background-position: center; /* Center the background image */
    width: 100%;
    height: 100vh;
}